@mixin RoundLinePointSize($width, $height) {
  height: $width;
  width: $height;
}

@mixin RoundLineTextSize($coin-width, $coin-height, $text-width) {
  width: $text-width;
  left: ($coin-width - $text-width) / 2;
  line-height: $coin-height;
}

@mixin RoundLine {
  $coin-width: 76px;
  $coin-height: 76px;

  .rlg-place, .rlg-coin {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    @include RoundLinePointSize($coin-width, $coin-height);
    -webkit-tap-highlight-color: transparent;
  }

  // Точка
  .rlg-coin {
    -webkit-transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    //background: url(/res/img/point.svg) 0 0;
    background: red;
    background-size: 100% auto;
    z-index: 10;
    opacity: 1;
  }

  // Выделенная точка
  .rlg-coin--active {
    background-position: 0 50%;
  }

  // Выделенное место
  .rlg-place--active {
    //background: url(/res/img/point.svg) 0 100%;
    background: blue;
    background-size: 100% auto;
  }

  // Правильно выставленная точка
  .rlg-coin--right {
    background-position: 0 100%;
  }

  // Текст над местом
  .rgl-place__text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    line-height: 20px;
    font-size: 20px;
    background: #a5a5a5;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  // Текст на точке
  $coin-text-width: 100px;
  .rlg-coin__text {
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 18px;
    text-transform: lowercase;

    @include RoundLineTextSize($coin-width, $coin-height, $coin-text-width);
  }

  .rlg-round-game-root {
    margin: 100px auto;
    width: 501px;
    height: 501px;
    position: relative;
    /*background: #a8a6a6;*/
    //background: url(/res/img/bg.png) center center no-repeat;
    background: lightgrey;
    background-size: 100% auto;
  }
}